* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box; }

#container-header {
  background-color: #DCE9E2;
  padding: 0 5vw;
  border: 1px solid red;
  position: relative; }
  #container-header #barra-de-navegacao {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 78px; }
    #container-header #barra-de-navegacao #menu {
      height: 100%;
      display: flex;
      align-items: center; }
      #container-header #barra-de-navegacao #menu ul {
        display: flex;
        justify-content: space-between;
        height: 100%;
        gap: 0px 4vw;
        padding: 0;
        list-style-type: none; }
        #container-header #barra-de-navegacao #menu ul li {
          display: flex;
          align-items: center; }
        #container-header #barra-de-navegacao #menu ul li:hover {
          border-bottom: 2px solid #00856F; }
        #container-header #barra-de-navegacao #menu ul a {
          display: block;
          display: flex;
          align-items: center;
          height: 100%;
          text-decoration: none;
          font-family: 'DM Sans', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          opacity: 0.7;
          color: #00856F; }
        #container-header #barra-de-navegacao #menu ul a:hover {
          font-weight: 700;
          font-size: 16px;
          line-height: 21px;
          opacity: 1;
          color: #00856F; }
    #container-header #barra-de-navegacao #agendar-contato a {
      display: block;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      text-decoration: none;
      color: #00856F;
      border: 1px solid #00856F;
      border-radius: 40px;
      padding: 10px 24px;
      transition: transform 0.3s ease-in-out; }
    #container-header #barra-de-navegacao #agendar-contato a:hover {
      background-color: #005846;
      transform: scale(1.2);
      color: #f0fdfa;
      cursor: pointer; }
  #container-header #hero-section #hero-section-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #container-header #hero-section #hero-section-row-1 #text-hero-section {
      border: 1px solid red;
      display: inline-block;
      height: fit-content;
      width: calc(50vw - 10px);
      position: relative;
      top: 80px; }
      #container-header #hero-section #hero-section-row-1 #text-hero-section h4 {
        margin-top: 0;
        margin-bottom: 16px;
        border: 1px solid red;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        /* identical to box height, or 21px */
        letter-spacing: 0.08em;
        /* Primary Colors/brand-green */
        color: #00856F; }
      #container-header #hero-section #hero-section-row-1 #text-hero-section h1 {
        margin-bottom: 24px;
        border: 1px solid red;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 52px;
        line-height: 130%;
        color: #212529; }
      #container-header #hero-section #hero-section-row-1 #text-hero-section h3 {
        margin-bottom: 32px;
        border: 1px solid red;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #495057; }
      #container-header #hero-section #hero-section-row-1 #text-hero-section a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 263px;
        height: 52px;
        background: #00856F;
        border-radius: 40px;
        text-decoration: none;
        transition: transform 0.3s ease-in-out; }
        #container-header #hero-section #hero-section-row-1 #text-hero-section a span {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          text-transform: uppercase;
          color: #FFFFFF;
          flex: none;
          order: 1;
          flex-grow: 0; }
      #container-header #hero-section #hero-section-row-1 #text-hero-section a:hover {
        transform: scale(1.2); }
    #container-header #hero-section #hero-section-row-1 #img-hero-section {
      display: inline-block;
      position: relative;
      right: 70px;
      border: 1px solid red; }
      #container-header #hero-section #hero-section-row-1 #img-hero-section img {
        width: 100%; }
  #container-header #hero-section #hero-section-row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFAF1;
    /* Primary Colors/brand-green-light */
    border: 1px solid #DCE9E2;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 10vh 5vw;
    position: absolute;
    top: 571px;
    left: 123px;
    right: 123px;
    z-index: 1;
    width: calc(100% - 246px);
    margin: 0 auto;
    height: 210px; }
    #container-header #hero-section #hero-section-row-2 #demarcado {
      border-left: 1px solid #00856F;
      border-right: 1px solid #00856F; }
    #container-header #hero-section #hero-section-row-2 div {
      width: 33.3%;
      display: block;
      text-align: center;
      height: 90px; }
      #container-header #hero-section #hero-section-row-2 div h1 {
        margin-top: 0px;
        margin-bottom: 4px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 130%;
        color: #212529; }
      #container-header #hero-section #hero-section-row-2 div h6 {
        margin-top: 4px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #00856F; }

#servicos-section {
  border: 3px solid blue;
  background: #F7F9F9;
  padding-bottom: 160px; }
  #servicos-section #servicos-header {
    margin-top: 263px;
    margin-bottom: 64px;
    text-align: center;
    width: 100%; }
    #servicos-section #servicos-header h5 {
      margin-bottom: 16px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.08em;
      color: #00856F; }
    #servicos-section #servicos-header h1 {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 52px;
      text-align: center;
      color: #212529; }
  #servicos-section #content-cards {
    width: calc(100% - 244px);
    margin-left: 122px;
    margin-right: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    #servicos-section #content-cards #content-cards-row-1 {
      margin-bottom: 40px; }
    #servicos-section #content-cards #content-cards-row-1, #servicos-section #content-cards #content-cards-row-2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      gap: 40px;
      box-sizing: border-box; }
      #servicos-section #content-cards #content-cards-row-1 div, #servicos-section #content-cards #content-cards-row-2 div {
        width: 347px;
        padding: 24px;
        background: #FFFFFF;
        border: 1px solid #DCE9E2;
        border-radius: 6px; }
        #servicos-section #content-cards #content-cards-row-1 div h5, #servicos-section #content-cards #content-cards-row-2 div h5 {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 31px;
          text-align: center;
          color: #212529; }
        #servicos-section #content-cards #content-cards-row-1 div img, #servicos-section #content-cards #content-cards-row-1 div h5, #servicos-section #content-cards #content-cards-row-2 div img, #servicos-section #content-cards #content-cards-row-2 div h5 {
          margin-bottom: 16px; }
        #servicos-section #content-cards #content-cards-row-1 div img, #servicos-section #content-cards #content-cards-row-1 div h5, #servicos-section #content-cards #content-cards-row-1 div p, #servicos-section #content-cards #content-cards-row-2 div img, #servicos-section #content-cards #content-cards-row-2 div h5, #servicos-section #content-cards #content-cards-row-2 div p {
          text-align: left; }
        #servicos-section #content-cards #content-cards-row-1 div p, #servicos-section #content-cards #content-cards-row-2 div p {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #495057; }

#sobre-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #FFFAF1; }
  #sobre-section #sobre-section-img {
    margin: 25vh 5vw 20vh 8vw; }
  #sobre-section #sobre-section-texto {
    margin: 10vh 8vw 10vh 0px; }
    #sobre-section #sobre-section-texto div h6 {
      margin-bottom: 3vh;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.08em;
      color: #00856F; }
    #sobre-section #sobre-section-texto div h1 {
      margin-bottom: 4.5vh;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 52px;
      color: #212529; }
    #sobre-section #sobre-section-texto div p {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #495057; }

#contato-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  #contato-section #contato-section-texto {
    margin-top: 10vh;
    margin-left: 9vw;
    margin-bottom: 10vh;
    margin-right: 4vw; }
  #contato-section #contato-section-img {
    margin-top: 25vh;
    margin-right: 9vw; }

/*# sourceMappingURL=style.css.map */
